<!DOCTYPE html>
<html lang="tr">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LPY9Z1R57Z"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LPY9Z1R57Z');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9918689262702859"
        crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
    default-src 'self'; 
    script-src 'self' https://www.google-analytics.com https://pagead2.googlesyndication.com https://ep2.adtrafficquality.google; 
    style-src 'self' 'unsafe-inline'; 
    img-src 'self' https://pagead2.googlesyndication.com; 
    connect-src 'self' https://www.google-analytics.com https://pagead2.googlesyndication.com https://ep1.adtrafficquality.google; 
    frame-src 'self' https://googleads.g.doubleclick.net https://tpc.googlesyndication.com https://www.google.com; 
    child-src 'self' https://googleads.g.doubleclick.net https://tpc.googlesyndication.com https://www.google.com;">
    <meta name="description"
        content="İngilizce kelime dağarcığınızı genişletmek için özenle hazırlanmış kelime kutuları oluşturmanıza ve mevcut kutularla kendinizi test etmenize olanak tanır.Ayrıca, sitemizde yer alan Kelime Seviye Testi ile mevcut kelime bilginizi değerlendirebilirsiniz.">
    <meta name="og:keywords"
        content="kelime, kutu, İngilizce öğrenme, kelime testleri, dil öğrenme,kelime çalışması, kelime oyunları,kutukutukelime, kişiye özel kelime, ingilizce türkçe kelime kutusu, wordbox, kelime bilgisi testi, ingilizce kelime testi, ingilizce kelime seviye testi,kutu">
    <meta name="og:description"
        content="İngilizce kelime dağarcığınızı genişletmek için özenle hazırlanmış kelime kutuları oluşturmanıza ve mevcut kutularla kendinizi test etmenize olanak tanır.Ayrıca, sitemizde yer alan Kelime Seviye Testi ile mevcut kelime bilginizi değerlendirebilirsiniz.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Özenle hazırlanmış kelime kutuları">
    <meta property="og:description"
        content="İngilizce kelime dağarcığınızı genişletmek için özenle hazırlanmış kelime kutuları oluşturmanıza ve mevcut kutularla kendinizi test etmenize olanak tanır.Ayrıca, sitemizde yer alan Kelime Seviye Testi ile mevcut kelime bilginizi değerlendirebilirsiniz.">
    <meta property="og:image" content="/images/tra.webp">
    <meta property="og:url" content="https://www.kutukutukelime.com">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Özenle hazırlanmış kelime kutuları">
    <meta name="twitter:description" content="İngilizce kelime dağarcığınızı genişletmek için özenle hazırlanmış kelime kutuları oluşturmanıza ve mevcut kutularla kendinizi test etmenize olanak tanır.Ayrıca, sitemizde yer alan Kelime Seviye Testi ile mevcut kelime bilginizi değerlendirebilirsiniz.">

    <link rel="icon" href="/images/box.webp">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome-free-6.6.0-web/css/all.min.css">
    <title>İngilizce-Türkçe Kelime Kutuları - Eğlenceli Kelime Öğrenin</title>
</head>
<body>
    <%- include('partials/navbar') %>
        <main class="container">
            <h1>
                İngilizce Öğrenmenin En Eğlenceli Yolu: Kelime Oyunları!            
            </h1>
            <div> 
                <a href="/seviye-ogrenme-testi" class="test-level-btn">Kelime Seviyeni Öğren</a>
                <a href="/kutum" class="test-level-btn">Kelime Kutunu Oluştur</a>
            </div>
            <div class="cards">
                <% words.forEach((word,index)=> { %>
                    <div class="card color<%=++index%>" id="<%= word.level %>" aria-label="<%= word.level %> seviyesi için kelime kutusu">
                        <div class="box level-a">
                            <% ['front', 'back' , 'left' , 'right' , 'top' , 'bottom' ].forEach(face=> { %>
                                <div class="face <%= face %>">
                                    <%= word.level %>
                                </div>
                                <% }) %>
                        </div>
                        <p>
                            <%= word.level %> seviyesinde <%= word.count %> kelime
                                    <p>
                    </div>
                    <% }) %>
            </div>
            <div class="separator"></div>
            <div class="cards">
                <% words_category.forEach((word,index)=> { %>
                    <div class="card color<%=++index+9%>" id="<%= word.category %>"aria-label="<%= word.category %> kategorisi için kelime kutusu">
                        <div class="box level-a">
                            <% ['front', 'back' , 'left' , 'right' , 'top' , 'bottom' ].forEach(face=> { %>
                                <div class="face <%= face %>">
                                    <%= word.category %>
                                </div>
                                <% }) %>
                        </div>
                        <p>
                            <% words_TrCategory.forEach((trword)=> { %>
                                <% if (word.category===trword.english) { %>
                                    <%= trword.turkish %> kategorisinde <br>
                                        <%= word.count %> kelime
                                            <% } %>
                                                <% }) %>
                        </p>
                    </div>
                    <% }) %>
            </div>
            <div>
                <a href="/kutum" class="test-level-btn">Kelime Kutunu Oluştur</a>
                <a href="/seviye-ogrenme-testi" class="test-level-btn">Kelime Seviyeni Öğren</a>
            </div>
            <%- include('partials/routes') %>
        </main>
        <script src="/js/index.js"></script>
</body>
</html>