<!DOCTYPE html>
<html lang="tr">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LPY9Z1R57Z"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LPY9Z1R57Z');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9918689262702859"
        crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="İngilizce kelime dağarcığınızı geliştirmek için özenle tasarlanmış kelime kutuları oluşturun ve mevcut kutularla kendinizi test edin. Kelime yarışmalarına katılarak arkadaşlarınızla eğlenceli bir şekilde rekabet edin! Ayrıca, sitemizde bulunan Kelime Seviye Testi ile kelime bilginizi kapsamlı bir şekilde değerlendirin ve ilerlemenizi takip edin. Hedeflerinize ulaşmak ve dil becerilerinizi artırmak için bu fırsatları kaçırmayın!">
    <meta name="og:keywords"
        content="kelime, kutu, İngilizce öğrenme, kelime testleri, dil öğrenme,kelime çalışması, kelime oyunları,kutukutukelime, kişiye özel kelime, ingilizce türkçe kelime kutusu, wordbox, kelime bilgisi testi, ingilizce kelime testi, ingilizce kelime seviye testi,kutu,kelime yarışması,yarışma,ingilizce kelime yarışması,rekabet">
    <meta name="og:description"
        content="İngilizce kelime dağarcığınızı geliştirmek için özenle tasarlanmış kelime kutuları oluşturun ve mevcut kutularla kendinizi test edin. Kelime yarışmalarına katılarak arkadaşlarınızla eğlenceli bir şekilde rekabet edin! Ayrıca, sitemizde bulunan Kelime Seviye Testi ile kelime bilginizi kapsamlı bir şekilde değerlendirin ve ilerlemenizi takip edin. Hedeflerinize ulaşmak ve dil becerilerinizi artırmak için bu fırsatları kaçırmayın!">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Kelime Yarışmaları ve Eğlenceli Testlerle İngilizce Bilginizi Artırın!">
    <meta property="og:description"
        content="İngilizce kelime dağarcığınızı geliştirmek için özenle tasarlanmış kelime kutuları oluşturun ve mevcut kutularla kendinizi test edin. Kelime yarışmalarına katılarak arkadaşlarınızla eğlenceli bir şekilde rekabet edin! Ayrıca, sitemizde bulunan Kelime Seviye Testi ile kelime bilginizi kapsamlı bir şekilde değerlendirin ve ilerlemenizi takip edin. Hedeflerinize ulaşmak ve dil becerilerinizi artırmak için bu fırsatları kaçırmayın!">
    <meta property="og:image" content="/images/tra.webp">
    <meta property="og:url" content="https://www.kutukutukelime.com">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Kelime Yarışmaları ve Eğlenceli Testlerle İngilizce Bilginizi Artırın!">
    <meta name="twitter:description" 
        content="İngilizce kelime dağarcığınızı geliştirmek için özenle tasarlanmış kelime kutuları oluşturun ve mevcut kutularla kendinizi test edin. Kelime yarışmalarına katılarak arkadaşlarınızla eğlenceli bir şekilde rekabet edin! Ayrıca, sitemizde bulunan Kelime Seviye Testi ile kelime bilginizi kapsamlı bir şekilde değerlendirin ve ilerlemenizi takip edin. Hedeflerinize ulaşmak ve dil becerilerinizi artırmak için bu fırsatları kaçırmayın!">
    <link rel="icon" href="/images/box.webp">
    <link rel="stylesheet" type="text/css" href="/css/learn-level.css">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome-free-6.6.0-web/css/all.min.css">
    <title>İngilizce Kelime Bilgini Test Et - kutukutukelime</title>
    <link rel="canonical" href="https://www.kutukutukelime.com/kategori_verb"/>
</head>

<body>
    <%- include('partials/navbar') %>
        <main class="container-learn" id="container-learn">
            <h1>Kelime Seviyeni Öğren!</h1>
            <%- include('partials/box') %>
            <%- include('partials/gameRoutes', { 
                gameRules: [
                    'Kelime testi 20 sorudan oluşur ve seviyenizi belirler.',
                    'A seviyesinden 9, B seviyesinden 6 ve C seviyesinden 5 kelime sorulur.',
                    'Kelimeler rastgele gelir, Türkçe ya da İngilizce olabilir.',
                    'Her seviye için özel puanlama sistemi uygulanır.',
                    'Kutudaki \'click\' kısmına tıklayarak yeni soruya geçebilirsiniz.',
                    'İlgili kutucuğa cevabınızı yazın. Eş anlamlı kelimeler için birden fazla cevap kabul edilebilir.',
                    'Cevabınızı yazarken dikkatli olun! Kelimenin yazılışının tamamen doğru olması gerekir.',
                    'Testi tamamladıktan sonra seviyenize uygun kelime kutularına erişebilirsiniz.'
                ], 
                extraMessage: 'Unutmayın, dil öğrenimi sürekli bir yolculuktur.',
                startButtonText: 'Oyunu Başlat'
            }) %>
        </main>
        <%- include('partials/show-result') %>
        <%- include('partials/share-card') %>
        <script src="/js/learn-level.js"></script>
</body>
</html>